#forgot-password-form{
    box-sizing: border-box;
    padding: 3%;
    width: 50%;
    margin: 7% auto;
    border: 0.05em solid #ccc;
}

#forgot-password-form-hdr{
    color: #3399ff;
}

.error{
    color: red;
}