<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Status</title>
    <style>
        .box{
            box-sizing: border-box;
            width: 70%;
            margin: 7% auto;
            padding: 5%;
            color: #FFF;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
        }

        .success-box{
            background-color: #00e600;
        }

        .fail-box{
            background-color: red;
        }
    </style>
</head>
<body>
    {{#if success}}
    <div class="box success-box"><h1>You Have Successfully Changed Your Password</h1></div>
    {{else}}
    <div class="box fail-box"><h1>Something Went Wrong Please Try Again!!!</h1></div>
    {{/if}}
</body>
</html>