<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        #reset-password-form{
            width: 50%;
            box-sizing: border-box;
            margin: 7% auto;
            border: 0.07em solid #ccc;
            padding: 3%;
        }

        #reset-form-hdr{
            color: #3399ff;
        }
    </style>
</head>
<body>
    <form id="reset-password-form" method="POST" action="/forgotPassword/resetPassword">
        <h1 id="reset-form-hdr" class="text-center display-4">Reset Your Password</h1>
        <div class="form-group">
            <input class="form-control" name="newPassword" type="password" placeholder="New Password" />
        </div>
        <input type="hidden" name="userID" value={{userID}}/>
        <button class="btn btn-success">Submit</button>
    </form>
</body>
</html>